.card
    .card-body

        table.table.table-bordered.table-hover#returnTable
            thead.table-dark
                tr
                    th Employee
                    th Asset
                    th Quantity
                    th Issue Date
                    th Actions

            tbody
                each issue in issuedAssets
                    tr
                        td= issue.Employee.employee_name
                        td= issue.Asset.asset_name + " (" + issue.Asset.asset_code + ")"
                        td= issue.quantity
                        td= issue.issue_date

                        td
                            button.btn.btn-sm.btn-success.return-btn(
                                type="button"
                                data-id=issue.id
                                data-employee=issue.Employee.employee_name
                                data-asset=issue.Asset.asset_name
                                data-quantity=issue.quantity
                                data-date=issue.issue_date
                            )
                                i.bi.bi-arrow-return-left.me-1
                                | Return